@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row p-3">
        <div class="col-12">
            <br />
        </div>
    </div>
      <div class="row p-3" ng-controller="mainController">
        <div class="col-12">
          <label>What is your twitter handle?</label>
          <input type="text" ng-model="handle" />
        </div>
          <div class="col-12">
               <div
          class="alert"
          ng-class="{ 'alert-warning': handle.length < characters, 'alert-danger': handle.length > characters }"
          ng-if="handle.length !== characters"
        >
          <div ng-show="handle.length < characters">
            You have less than 5 characters!
          </div>
          <div ng-show="handle.length > characters">
            You have more than 5 characters!
          </div>
        </div>

        <hr />

        <h1>twitter.com/{{ lowercasehandle() }}</h1>

        <h3>Rules</h3>
        <ul>
          <li ng-repeat="rule in rules">
            {{ rule  }}
          </li>
        </ul>

        Add rule: <input type="text" ng-model="newRule" /><a
          href="#"
          class="btn btn-default"
          ng-click="addRule()"
          >Add</a
        >
          </div>
   </div>
</div>
